<launch>
  <param name="initial_package" type="string" value="niklas_package" />
  <param name="initial_goal" type="string" value="owl_parse('package://niklas_package/owl/objects_affordances_attributes.owl')" />
 
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />
</launch>
